anthropic==0.16.0
google_api_python_client==2.48.0
google_auth_oauthlib==1.2.0
Google_Images_Search==1.4.6
gradio==4.19.0
httplib2==0.22.0
moviepy==1.0.3
openai==1.13.3
orjson==3.9.15
protobuf==4.25.3
python-dotenv==1.0.1
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
SQLAlchemy==2.0.27
git+https://github.com/Paillat-dev/tiktok-uploader.git
TTS==0.22.0
TTS==0.22.0
whisper_timestamped==1.14.4
